<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sobre.css">
    <link rel="stylesheet" href="../static/css/index.css">








    <title>Yusa Creche</title>
</head>

<body>


    <!-- First section to header -->
    <header>

        <a href="#" class="logo"> YUSA </a>
        <nav class="navbar">
            <!-- Thinking if should be better build other -->
            <a href="/">home</a>
            <a href="/eventos">Eventos</a>
            <a href="/">Galeria</a>
            <a href="#sobre"> Sobre</a>
            <a href="/"> Contacto</a>
            <a href="/entrar" class="active"> Login</a>

        </nav>




    </header>



    <section class="principal">


        <div class="content">
            <h2>Sobre nós </h2>
            <span><!-- line here --></span>
            <p> Somos uma Creche 100% angolana, com a missão de garantir a segurança dos Pequenitos Trabalhamos para os nossos clientes
            </p>
            <ul class="links">
                <li><a href="#">Creche </a></li>
                <div class="vertical-line"></div>
                <li><a href="#">Educação</a></li>
                <div class="vertical-line"></div>
                <li>
                    <a href="#">Segurança</a>
                </li>
            </ul>
            <ul class="icons">
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-pinterest"></i>
                </li>
            </ul>
        </div>
    </section><br><br>

    <section class="footer">




        <div class="credit"> copyright @ 2022 by <span> Isaura Manico </span></div>
    </section>


</body>

</html>